<section class="hero is-dorado is-small" id="contact">
    <div class="hero-body">
        <div class="level">
            <nav class="level-left">
                <div class="level-item">
                    <h2 class="subtitle is-6">&copy; 2020 Nithya Krishnan</h2>
                </div>
            </nav>
            <nav class="level-right">
                <div class="level-item">
                    <a href="mailto:nithyaniti98@gmail.com">Email</a>
                </div>
                <div class="level-item">
                    <h3 class="divider">|</h3>
                </div>
                <div class="level-item">
                    <a href="https://www.linkedin.com/in/nithya-krishnan-93ba21150/" target="_blank">LinkedIn</a>
                </div>
                <div class="level-item">
                    <h3 class="divider">|</h3>
                </div>
                <div class="level-item">
                    <a href="https://github.com/nithyaniti98" target="_blank">Github</a>
                </div>
            </nav>
        </div>
    </div>
</section>