<section class="hero is-bizarre is-small" id="experiences">
    <div class="hero-head has-text-centered">
        <div class="column is-4 is-offset-4">
            <h1 class="super-heading">
                <h1 class="title">Experiences</h1>
            </h1>
        </div>
    </div>
    <div class="hero-body">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="timeline is-centered">

                    <div class="timeline-item is-concrete">
                        <div class="timeline-marker is-dorado"></div>
                        <div class="timeline-content">
                            <p class="heading">Education</p>
                            <div class="card has-background-concrete is-two-fifths">
                                <header class="card-header">
                                    <div class="container has-text-centered">
                                        <h2 class="title is-4">Imperial College London</h2>
                                    </div>
                                </header>
                                <div class="card-content">
                                    <div class="container has-text-left">
                                        <h3 class="subtitle is-6">
                                            <ol class="normal">
                                                <li>Concurrent with Renaissance Engineering Programme during Year 3</li>
                                            </ol>
                                        </h3>
                                        <div class="buttons">
                                            <span class="button is-dorado is-outlined">Machine Learning</span>
                                            <span class="button is-dorado is-outlined">Natural Language Processing</span>
                                            <span class="button is-dorado is-outlined">Statistics</span>
                                            <span class="button is-dorado is-outlined">Computer Vision</span>
                                            <span class="button is-dorado is-outlined">Project Management</span>
                                            <span class="button is-dorado is-outlined">Entrepreunership</span>
                                            <span class="button is-dorado is-outlined">SQL</span>
                                            <span class="button is-dorado is-outlined">Teaching</span>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Exchange Student</h2>
                                    </div>
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Sep 2019 - Apr 2020</h2>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item is-concrete">
                        <div class="timeline-marker is-dorado"></div>
                        <div class="timeline-content">
                            <p class="heading">Work</p>
                            <div class="card has-background-concrete is-two-fifths">
                                <header class="card-header">
                                    <div class="container has-text-centered">
                                        <h2 class="title is-4">McLaren Applied Technologies</h2>
                                    </div>
                                </header>
                                <div class="card-content">
                                    <div class="container has-text-left">
                                        <h3 class="subtitle is-6">
                                            <ol class="normal">
                                                <li>Applied state-of-the-art Generative Adversarial Networks (GAN) on
                                                    multivariate time-series data for anomaly detection</li>
                                                <li>Deployed the model through a prototype full-stack web application
                                                    using Angular frontend and Flask backend pipeline</li>
                                                <li>Improved stenosis detection accuracy in patients by 50% by building an Ensemble Learning model</li>
                                                <li>Performed exploratory data visualisation on a semi-structured dataset
                                                    using python data visualisation libraries to communicate the key-takeaways pictorially</li>
                                            </ol>
                                        </h3>
                                        <div class="buttons">
                                            <span class="button is-dorado is-outlined">Machine Learning</span>
                                            <span class="button is-dorado is-outlined">Keras</span>
                                            <span class="button is-dorado is-outlined">Tensorflow</span>
                                            <span class="button is-dorado is-outlined">Data Visualisation</span>
                                            <span class="button is-dorado is-outlined">Frontend Development</span>
                                            <span class="button is-dorado is-outlined">Angular</span>
                                            <span class="button is-dorado is-outlined">HTML</span>
                                            <span class="button is-dorado is-outlined">CSS</span>
                                            <span class="button is-dorado is-outlined">Flask</span>
                                            <span class="button is-dorado is-outlined">D3</span>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Decision Science Intern</h2>
                                    </div>
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Jul 2019 - Sep 2019</h2>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item is-concrete">
                    <div class="timeline-marker is-dorado"></div>
                    <div class="timeline-content">
                        <p class="heading">Education</p>
                        <div class="card has-background-concrete is-two-fifths">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Nanyang Technological University</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container has-text-left">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>B.Sc Computer Science and M.Sc Technology Management (Concurrent degree)</li>
                                            <li>cGPA of 4.92/5.00 (1st Class Honours)</li>
                                            <li>Expected elective focus in Artificial Intelligence and Data Science & Analytics</li>
                                            <li>Awarded Dean's List in 2018</li>
                                            <li>Awarded the Renaissance Engineering Scholarship</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">C/C++</span>
                                        <span class="button is-dorado is-outlined">JavaScript</span>
                                        <span class="button is-dorado is-outlined">Human-Computer Interaction</span>
                                        <span class="button is-dorado is-outlined">Operating Systems</span>
                                        <span class="button is-dorado is-outlined">Database Principles</span>
                                        <span class="button is-dorado is-outlined">Python</span>
                                        <span class="button is-dorado is-outlined">Java</span>
                                        <span class="button is-dorado is-outlined">Object-Oriented Programming</span>
                                        <span class="button is-dorado is-outlined">Strategic Marketing</span>
                                        <span class="button is-dorado is-outlined">Fundamentals of Management</span>
                                        <span class="button is-dorado is-outlined">Financial Management</span>
                                        <span class="button is-dorado is-outlined">Accounting</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title has-text-centered is-6">Renaissance Engineering Programme</h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Aug 2017 - Dec 2021</h2>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>

                    <div class="timeline-item is-concrete">
                        <div class="timeline-marker is-dorado"></div>
                        <div class="timeline-content">
                            <p class="heading">Work</p>
                            <div class="card has-background-concrete is-two-fifths">
                                <header class="card-header">
                                    <div class="container has-text-centered">
                                        <h2 class="title is-4">Ministry of Education</h2>
                                    </div>
                                </header>
                                <div class="card-content">
                                    <div class="container has-text-left">
                                        <h3 class="subtitle is-6">
                                            <ol class="normal">
                                                <li>Responsible for teaching 14-16 year old secondary students Physics and Integrated science</li>
                                                <li>Contributed in the planning of science curriculum and scheduling of classes across the Secondary syllabus</li>
                                                <li>Commended for the quality of lesson plans and teaching</li>
                                            </ol>
                                        </h3>
                                        <div class="buttons">
                                            <span class="button is-dorado is-outlined">Teaching</span>
                                            <span class="button is-dorado is-outlined">Interpersonal Communication</span>
                                            <span class="button is-dorado is-outlined">Verbal Communication</span>
                                            <span class="button is-dorado is-outlined">Organisation</span>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Relief Allied Educator</h2>
                                    </div>
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Jan 2017 - Jul 2017</h2>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-item is-concrete">
                        <div class="timeline-marker is-dorado"></div>
                        <div class="timeline-content">
                            <p class="heading">Education</p>
                            <div class="card has-background-concrete is-two-fifths">
                                <header class="card-header">
                                    <div class="container has-text-centered">
                                        <h2 class="title is-4">National Junior College</h2>
                                    </div>
                                </header>
                                <div class="card-content">
                                    <div class="container has-text-left">
                                        <h3 class="subtitle is-6">
                                            <ol class="normal">
                                                <li>6 distinctions in GCE 'A' Levels</li>
                                                <li>Awarded Student Of The Year (Valedictorian) </li>
                                                <li>Awarded EDUSAVE Certificate of Academic Achievement for 3 consecutive years</li>
                                            </ol>
                                        </h3>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Integrated Programme</h2>
                                    </div>
                                    <div class="card-footer-item">
                                        <h2 class="title is-6">Jan 2011 - Dec 2016</h2>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
