<section class="hero is-concrete is-small" id="eca">
    <div class="hero-head has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="super-heading">
                <h1 class="title">Extracurricular Activities</h1>
            </h1>
        </div>
    </div>

    <div class="hero-body">
        <div class="column is-10 is-offset-1">

            <div class="tile is-ancestor">
                <div class="tile is-parent">

                    <article class="tile is-child">
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">NTU: Athulya</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>Founded NTU's first indian dance club with more than 40 members</li>
                                            <li>Designed a work process to efficiently organise
                                            members, events and funds.</li>
                                            <li>Surpassed public outreach goals with effective publicity and planning</li>
                                        </ol>
                                    </h3>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6">
                                        Founder,<br>
                                        Student Leader
                                    </h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">May 2019 - Present</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                    <article class="tile is-child">
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">NTU: Tamil Literacy Society</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>Identified several structural issues and led core initiatives to
                                                improve efficiencies, discipline and segregation of duties</li>
                                            <li>Choreographed dance pieces for a team of 50 dancers for cultural performances</li>
                                            <li>Recognised for exceptional initiative and commitment as a
                                                "Dance Wing Award" honouree</li>
                                        </ol>
                                    </h3>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Dance Wing Coordinator</h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Aug 2017 - May 2019</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>
            <div class="tile is-ancestor">
            <div class="tile is-parent">

                <article class="tile is-child">
                    <div class="card has-background-bizarre">
                        <header class="card-header">
                            <div class="container has-text-centered">
                                <h2 class="title is-4">REP: Freshman Orientation Camp</h2>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="container">
                                <h3 class="subtitle is-6">
                                    <ol class="normal">
                                        <li>Played a significant role in the planning and preparation of
                                            the annual orientation camp for REP</li>
                                        <li>Diligently ensured the safety and comfort of freshmen during the camp</li>
                                    </ol>
                                </h3>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <h2 class="title is-6">
                                    Chief Group Leader
                                </h2>
                            </div>
                            <div class="card-footer-item">
                                <h2 class="title is-6">May 2018 - Aug 2018</h2>
                            </div>
                        </footer>
                    </div>
                </article>

                <article class="tile is-child">
                    <div class="card has-background-bizarre">
                        <header class="card-header">
                            <div class="container has-text-centered">
                                <h2 class="title is-4">REClub: Publicity Committee</h2>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="container">
                                <h3 class="subtitle is-6">
                                    <ol class="normal">
                                        <li>Revamped the newsletter, applying design thinking to encourage reader interest</li>
                                        <li>Managed and wrote engaging articles for the weekly newsletter</li>
                                    </ol>
                                </h3>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <h2 class="title is-6">Member</h2>
                            </div>
                            <div class="card-footer-item">
                                <h2 class="title is-6">Sep 2017 - May 2018</h2>
                            </div>
                        </footer>
                    </div>
                </article>

                <article class="tile is-child">
                    <div class="card has-background-bizarre">
                        <header class="card-header">
                            <div class="container has-text-centered">
                                <h2 class="title is-4">NJC: Indian Dance</h2>
                            </div>
                        </header>
                        <div class="card-content">
                            <div class="container">
                                <h3 class="subtitle is-6">
                                    <ol class="normal">
                                        <li>Choreographed multiple dance pieces and taught the
                                            30-member dance troupe for cultural performances</li>
                                        <li>Planned and coordinated regular practices by liaising with all involved parties</li>
                                    </ol>
                                </h3>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <h2 class="title is-6">President,<br>Student Leader</h2>
                            </div>
                            <div class="card-footer-item">
                                <h2 class="title is-6">Jan 2012 - Aug 2016</h2>
                            </div>
                        </footer>
                    </div>
                </article>

            </div>
        </div>

        </div>
    </div>
</section>