<nav class="navbar is-dorado is-fixed-top" role="navigation">
    <div class="column is-8 is-offset-2">
        <div class="level">
            <div class="level-item">
                <a class="navbar-item" href="">Home</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#profile">Profile</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#experiences">Experiences</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#projects">Projects</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#abilities">Abilities</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#eca">Extracurricular Activities</a>
            </div>
            <div class="level-item">
                <h3 class="divider">|</h3>
            </div>
            <div class="level-item">
                <a class="navbar-item" href="#contact">Contact me</a>
            </div>
        </div>
    </div>
</nav>
