<section class="hero is-seapink is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title super-heading are-small">
                hello world;
            </h1>
            <h2 class="title is-1">
                I'm Nithya Krishnan.<br>
                <div class='console-container'>
                    <span id='text'></span>
                    <div class='console-underscore' id='console'>&#95;</div>
                </div>
            </h2>
            <a class="button is-concrete is-outlined is-large" download="NithyaKrishnanResume"
               target="_blank" href="assets/files/NithyaKrishnanResume.pdf">Download My CV</a>
        </div>
    </div>
</section>
