<section class="hero is-concrete is-small" id="projects">
    <div class="hero-head has-text-centered">
        <div class="column is-4 is-offset-4">
            <h1 class="super-heading">
                <h1 class="title">Projects</h1>
            </h1>
        </div>
    </div>

    <div class="hero-body">
        <div class="column is-10 is-offset-1">

            <div class="tile is-ancestor">
                <div class="tile is-parent">

                    <article class="tile is-child is-6">
                        <p class="heading">Competition</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Shell: Imagine The Future</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle">
                                        <ol class="normal">
                                            <li>Competed against 12 other international teams in Shell's inaugural case competition </li>
                                            <li>Deduced possible world landscape based on detailed analysis of current trends
                                                in the socio-political, economic and environmental spheres</li>
                                            <li>Built VR 3D projections of a subset of future scenarios using Unity</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Written Communication</span>
                                        <span class="button is-dorado is-outlined">Verbal Communication</span>
                                        <span class="button is-dorado is-outlined">Unity</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6">
                                        International 1st Runner Ups,<br>
                                        Regional Champions
                                    </h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Dec 2018 - Jul 2019</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                    <article class="tile is-child is-6">
                        <p class="heading">Competition</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Shopee: National Data Science Challenge</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle">
                                        <ol class="normal">
                                            <li>Competed against 360 other teams in the largest
                                                data science competition in Singapore</li>
                                            <li>Devised a machine-learning model to classify e-commerce products
                                                based on visual and textual clues</li>
                                            <li>Performed feature extraction (bag-of-words and BERT) and applied
                                                machine learning tools (Linear SVM) to successfully classify
                                                83% of products</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Machine Learning</span>
                                        <span class="button is-dorado is-outlined">Deep Learning</span>
                                        <span class="button is-dorado is-outlined">Natural Language Processing</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Ranked Top 6%</h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Mar 2019 - Apr 2019</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">

                    <article class="tile is-child is-8">
                        <p class="heading">Project</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">SmartCot Design Project</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle">
                                        <ol class="normal">
                                            <li>Extracted data from multiple sensors on a self-made cot prototype using Raspberry Pi</li>
                                            <li>Designed and implemented an Android mobile application which
                                                communicates with the Raspberry Pi through stream sockets (TCP Protocol)</li>
                                            <li>Ran python scripts on the Raspberry Pi to analyse sensor data and
                                                communicate with frontend application if any anomalies are found</li>
                                            <li>Coordinated a cross-functional team by introducing milestones
                                                and delegating work based on interests and skills and ensured all deadlines were met</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Raspberry Pi</span>
                                        <span class="button is-dorado is-outlined">JavaScript</span>
                                        <span class="button is-dorado is-outlined">HTML</span>
                                        <span class="button is-dorado is-outlined">Android Studio</span>
                                        <span class="button is-dorado is-outlined">Backend Development</span>
                                        <span class="button is-dorado is-outlined">Frontend Development</span>
                                        <span class="button is-dorado is-outlined">TCP Protocol</span>
                                        <span class="button is-dorado is-outlined">Leadership</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6"></h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Sep 2018 - Apr 2019</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                    <article class="tile is-child is-4">
                        <p class="heading">Competition</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">SIA: App Challenge</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle">
                                        <ol class="normal">
                                            <li>Devised an algorithm to optimise meal portions in day-to-day airline operations</li>
                                            <li>Final algorithm was an application that read QR codes,
                                                performed image processing and incorporated
                                            object detection algorithms (YOLO) to quantify food wastage with a 80% accuracy</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Computer Vision</span>
                                        <span class="button is-dorado is-outlined">Object Detection</span>
                                        <span class="button is-dorado is-outlined">Strategic Marketing</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item"></div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Aug 2018 - Oct 2018</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">

                    <article class="tile is-child">
                        <p class="heading">Project</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Meetpoint</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>Developed a mobile application using JavaScript backend and
                                                Dart frontend that demonstrates an optimisation algorithm that minimises travel time</li>
                                            <li>Implemented object-oriented design principles and patterns (Model View Controller)
                                                to ensure highly modular and reusable software</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Object-Oriented Programming</span>
                                        <span class="button is-dorado is-outlined">JavaScript</span>
                                        <span class="button is-dorado is-outlined">Dart</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item"></div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Sep 2018 - Nov 2018</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                    <article class="tile is-child">
                        <p class="heading">Competition</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Citi-YMCA: Youth For Causes</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>Founded and managed a self-initiated project that targeted gender discrimination
                                                issues and domestic violence faced in Singapore</li>
                                            <li>Commended for project’s ingenious
                                                objectives and completion within budget</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Leadership</span>
                                        <span class="button is-dorado is-outlined">Project Management</span>
                                        <span class="button is-dorado is-outlined">Verbal Communication</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Ranked Top 10</h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Aug 2018 - Oct 2018</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                    <article class="tile is-child">
                        <p class="heading">Project</p>
                        <div class="card has-background-bizarre">
                            <header class="card-header">
                                <div class="container has-text-centered">
                                    <h2 class="title is-4">Heartware Network: Tuition Programme</h2>
                                </div>
                            </header>
                            <div class="card-content">
                                <div class="container">
                                    <h3 class="subtitle is-6">
                                        <ol class="normal">
                                            <li>Coached underprivileged students weekly in mathematics and science</li>
                                            <li>Coordinated team of 25 volunteer tutors and delegated
                                                tutors based on skills and interests</li>
                                            <li>Directly liaised with branch managers and Heartware Network
                                                staff to plan the curriculum and pace of teaching</li>
                                        </ol>
                                    </h3>
                                    <div class="buttons">
                                        <span class="button is-dorado is-outlined">Leadership</span>
                                        <span class="button is-dorado is-outlined">Organisation</span>
                                        <span class="button is-dorado is-outlined">Teaching</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <h2 class="title is-6"></h2>
                                </div>
                                <div class="card-footer-item">
                                    <h2 class="title is-6">Jan 2015 - Dec 2015</h2>
                                </div>
                            </footer>
                        </div>
                    </article>

                </div>
            </div>

        </div>
    </div>

</section>
