<section class="hero is-bizarre is-small" id="abilities">
    <div class="hero-head has-text-centered">
        <div class="column is-4 is-offset-4">
            <h1 class="super-heading">
                <h1 class="title">Abilities</h1>
            </h1>
        </div>
    </div>
    <div class="hero-body">

        <div class="column is-offset-2">
            <h2 class="title is-4">Technical Skills</h2>
        </div>
        <div class="columns">

            <div class="column is-4 is-offset-2">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                    <tr><td class="subtitle is-6">Android Studio</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Angular</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Arduino</td>
                        <td class="stars has-text-right" style="--rating: 1"></tr>
                    <tr><td class="subtitle is-6">Backend Development</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">C</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Command Line Interface</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Computer Vision</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">CSS</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">C++</td>
                        <td class="stars has-text-right" style="--rating: 2"></tr>
                    <tr><td class="subtitle is-6">Dart</td>
                        <td class="stars has-text-right" style="--rating: 1"></tr>
                    <tr><td class="subtitle is-6">Database Principles</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Deep Learning</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">D3</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Flask</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Frontend Development</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Git</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">HTML</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-4">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                    <tr><td class="subtitle is-6">Java</td>
                        <td class="stars has-text-right" style="--rating: 5"></tr>
                    <tr><td class="subtitle is-6">JavaScript</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Keras</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Linux Operating Systems</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Machine Learning</td>
                        <td class="stars has-text-right" style="--rating: 5"></tr>
                    <tr><td class="subtitle is-6">Matlab</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">MS Office</td>
                        <td class="stars has-text-right" style="--rating: 5"></tr>
                    <tr><td class="subtitle is-6">Natural Language Processing</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Object Detection</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Object-Oriented Programming</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Python</td>
                        <td class="stars has-text-right" style="--rating: 5"></tr>
                    <tr><td class="subtitle is-6">Raspberry Pi</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">SQL</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    <tr><td class="subtitle is-6">Tensorflow</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Web Development</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Unity</td>
                        <td class="stars has-text-right" style="--rating: 1"></tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="column is-offset-2">
            <h2 class="title is-4">Transferable Skills</h2>
        </div>
        <div class="columns">

            <div class="column is-4 is-offset-2">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                        <tr><td class="subtitle is-6">Interpersonal Communication</td>
                            <td class="stars has-text-right" style="--rating: 5"></tr>
                        <tr><td class="subtitle is-6">Leadership</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                        <tr><td class="subtitle is-6">Organisation</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                        <tr><td class="subtitle is-6">Personal Motivation</td>
                            <td class="stars has-text-right" style="--rating: 5"></tr>
                        <tr><td class="subtitle is-6">Project Management</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-4">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                        <tr><td class="subtitle is-6">Teaching</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                        <tr><td class="subtitle is-6">Teamwork</td>
                            <td class="stars has-text-right" style="--rating: 5"></tr>
                        <tr><td class="subtitle is-6">Time Management</td>
                            <td class="stars has-text-right" style="--rating: 5"></tr>
                        <tr><td class="subtitle is-6">Verbal Communication</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                        <tr><td class="subtitle is-6">Written Communication</td>
                            <td class="stars has-text-right" style="--rating: 4"></tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="column is-offset-2">
            <h2 class="title is-4">Languages</h2>
        </div>
        <div class="columns">

            <div class="column is-4 is-offset-2">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                    <tr><td class="subtitle is-6">English</td>
                        <td class="stars has-text-right" style="--rating: 5"></tr>
                    <tr><td class="subtitle is-6">Hindi</td>
                        <td class="stars has-text-right" style="--rating: 4"></tr>
                    </tbody>
                </table>
            </div>

            <div class="column is-4">
                <table class="table is-hoverable is-fullwidth">
                    <tbody>
                    <tr><td class="subtitle is-6">Malayalam</td>
                        <td class="stars has-text-right" style="--rating: 3"></tr>
                    <tr><td class="subtitle is-6">Tamil</td>
                        <td class="stars has-text-right" style="--rating: 1"></tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</section>