<section class="hero is-concrete is-small" id="profile">
    <div class="hero-head has-text-centered">
        <div class="column is-4 is-offset-4">
            <h1 class="super-heading title">
                Profile
            </h1>
        </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3 is-offset-1">
                    <figure class="image">
                        <img src="assets/img/profile-pic.png">
                    </figure>
                </div>
                <div class="column is-6">
                    <h2 class="subtitle is-6 has-text-justified">
                        I'm currently specialising in Computer Science in the Renaissance Engineering Programme.
                        I have good knowledge of machine learning, having done multiple projects during my work experience and competitions.
                        I enjoy building and optimsing frontend and backend applications.
                        <br><br>
                        With my Masters in Technology Management, I have applied concepts gleaned from the management
                        and buisness modules in case competitions and extracurricular activities.
                        <br><br>
                        I love problem solving, algorithms and deriving insights from data while standing for quality and efficiency.
                        I am hard-working, driven and also enjoy working in a team.
                        <br><br>
                        My objectives are applying my skills and increasing my knowledge in computer science fields,
                        especially artificial intelligence and application development.
                        I'm always keen in learning about technologies of the future.
                        <br><br>
                        Yours sincerely,
                    </h2>
                    <h2 class="signature">
                        Nithya Krishnan
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>